/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
rr
.rr.yaml
/storage/gif-viewer
/storage/laracon-us-talk-ascii
/storage/laracon-us-talk
/storage/video
/storage/terminal-video
/storage/art-class
